*{
   padding: 0%;
   margin: 0%;
    box-sizing: border-box;
    

}


/*.container{

width: 1200px;
height: 800px;


}*/

.header {
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 5px;
    z-index: 1000;
}


.footer ul{

    background-color: rgba(0, 0, 0, 0.725);
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 10px ;
    display: flex;
    justify-content: center;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 50px 50px;
    

    color: rgb(216, 19, 12);
   
   

}


@media (min-width: 1280px){
    .container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
       
        }
}

@media (min-width: 1024px){
    .container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        
        }
   
}


@media (min-width: 768px){
    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
        }
    
}
@media (min-width: 200px) and (orientation: landscape) {
    .container{
        display: grid;
        grid-template-columns: 1;
        
        }
   
}